<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
	<h1>
		Welcome to {{ title }}!
	</h1>
</div>

<ol>
	<!--<li>-->
	<!--<p>[ngDraggable] : detect drag</p>-->

	<!--<div class="box" ngDraggable></div>-->
	<!--</li>-->

	<li>
		<p>[ngMovable] & [ngMovableHelper] : enable move, [reset]="true" default</p>

		<div class="moveBox" ngMovable>
			<span>inner text</span>
			<ng-template ngMovableHelper></ng-template>
		</div>
	</li>

	<li>
		<p>[ngMovable] & [ngMovableHelper] : enable move, [reset]="false"</p>

		<div class="moveBox" ngMovable [reset]="false">
			<span>inner text</span>
			<ng-template ngMovableHelper></ng-template>
		</div>
	</li>

	<!--<li>-->
	<!--<p>[ngMovableArea] : restricted area of movable object</p>-->

	<!--<div class="area" ngMovableArea>-->
	<!--<div class="box" ngMovable [reset]="false"></div>-->
	<!--</div>-->
	<!--</li>-->

	<!--<li>-->
	<!--<p>[ngMovableArea]</p>-->
	<!---->
	<!--<div class="area" ngMovableArea>-->
	<!--<div class="box" ngMovable [reset]="false"></div>-->
	<!--</div>-->
	<!--</li>-->

	<!--<li>-->
	<!--<p>[ngSortable] : sortable list</p>-->

	<!--<ul>-->
	<!--<li>-->
	<!--<p>horizontal</p>-->

	<!--<div class="area horizontal" ngSortableArea (sort)="sort($event)">-->
	<!--<div class="box" ngMovable *ngFor="let box of sortableList">-->
	<!--<span>{{ box }}</span>-->
	<!--</div>-->
	<!--</div>-->
	<!--</li>-->

	<!--<li>-->
	<!--<p>vertical</p>-->
	<!--</li>-->
	<!--</ul>-->
	<!--</li>-->
</ol>

